.bg-img {
    min-height: 100vh;
    position: relative;
    background: url(/public/assets/home-banner.jpg) rgba(0, 0, 0, 0.75);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    display: flex;
    align-items: center;
    padding: 150px 0 70px 0;
    padding-left: 2rem;
}

.bg-img .header-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .bg-img .header-content .title {
    color: whitesmoke;
    font-size: 4rem;
    font-family: 'Roboto';
  }

.header-element {
    color: white;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    padding-left: 2rem !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.header-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 40px;


}